*,*::before,*::after{
    box-sizing: border-box;
}

h1,h2,p{
    margin: 0;
}

:root{
    --spacing-small:5px;
    --spacing-medium:8px;
    --spacing-large:16px;

    --font-small:5rem;
    --font-regular:1rem;
    --font-large:1.5rem;
    --font-xl:2rem;

    --font-semibold:600px
}

body{
    margin: 0;
    font-family: Nunito ,Arial, Helvetica, sans-serif;
    margin: auto;
}

/* mobile first  */
#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
}

#container,#container >article{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

#current{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#current .current-temp{
    font-size: var(--font-xl);
}
#current .current-desc{
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}

/* hourly cast area */

#hourly{
    display: flex;
    flex-direction: column;
}
#hourly h1{
    text-align: center;
    
}
#hourly .hourly-items{
    display: flex;
    overflow-x: auto;
    
}
#hourly .hourly-items article{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 10px;
}

.feels-humidity{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.feels-humidity article{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    min-width: 150px;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}


#daily{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.five-days{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.five-days .days{
    margin:5px;
    padding:  0px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
}
.days{
    display: flex;
    justify-content: center;
    align-items: center;
}

.days .five-min-temp{
    opacity: 60%;
}

#drop-search{
    display: flex;
    justify-content: center;
}

#drop-search, #cities{
    font-size: 1.6rem;
    font-weight: var(--font-semibold);
}


@media(width>=600px)
{
    #container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        margin: 50px;
    }
}
